<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/accomodations.css">
    <title>Accomodations</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="head"><h1>Accomodations</h1></div>
            <div class="rules">
                <ul>
                    <li>The accommodation will be provided on a payment basis. All check-in and check-out times are 12:00 A.M. (e.g. If you check-in today evening and check-out the day after tomorrow, you have to pay for 3 days). All the rates are per day rates</li>
                    <br>
                    <li>
                        RTPCR test report is mandatory to get admitted into the hostel. Please bring the print-out of the test report done within 72 hours and one photocopy of any Government ID card.
                    </li>
                    <br>
                    <li>
                        The amount will be calculated for each individual as per the Google form which you will fill and they have to transfer the money by Google Pay or PhonePe. Individual GST bills will be given to you during check-in.
                    </li>
                    <li>Accomodation Fairs
                        <table>
                            <tr>
                                <th>Capcity</th>
                                <th>Charges</th>
                            </tr>
                            <tr>
                                <td>2 persons</td>
                                <td>&#x20B9; 200 per day</td>
                            </tr>
                            <tr>
                                <td>3 persons</td>
                                <td>&#x20B9; 250 per day</td>
                            </tr>
                            <tr>
                                <td>4 persons</td>
                                <td>&#x20B9; 300 per day</td>
                            </tr>
                        </table>
                    </li>
                    <li>To book accomodations <a href="{% url 'guestroom'%}">click</a></li>
                </ul>

            </div>
        </div>
    </div>
</body>
</html>