<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patrick+Hand|Roboto&display=swap">
  <link rel="stylesheet" type="text/css" href="../static/home.css">
</body>
</head>
<body>
  <div class="navbar">
    <div class="navbar-title">Hostel</div>
    <div class="navbar-buttons">
      <button class="navbar-button"><a href="{% url 'logout' %}" class="anchor">Logout</a></button>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <h2>Welcome to Our Hostel Allotment Process</h2>
      <p>
        At our institution, we've streamlined the journey to your new home, ensuring a smooth and efficient experience for all students. Begin by registering on our user-friendly website from [Registration Date Range]. Following this, check the website on [Eligibility Announcement Date] to see if you've made the cut – the list of eligible students will be proudly displayed. Once eligible, personalize your stay by filling out roommate and room number preferences from [Preferences Date Range]. The moment of truth arrives on [Hostel Allotment Date] when the final allotment list is unveiled, revealing where you'll be residing for the upcoming academic term. Congratulations to those allotted! Complete the process by attending Offline Document Verification from [Verification Date Range], ensuring a hassle-free and secure transition to your new hostel life. We look forward to welcoming you to your home away from home!
      </p>
    </div>
    <div class="image">
      <img src="../static/images/homepage.jpg" alt="Hostel Image">
    </div>
  </div>
  <ul>
      <li style="--accent-color:#780000">
          <div class="date">25 May - 27 May</div>
          <div class="title">Registration</div>
          <div class="descr">Begin your hostel journey by registering on the website. Secure your spot in the upcoming hostel allotment process by completing the online registration.</div>
      </li>
      <li style="--accent-color:#4CADAD">
          <div class="date">28 May</div>
          <div class="title">List Of Eligible Students</div>
          <div class="descr">Check the website to see if you've made the cut! The list of eligible students for hostel allotment will be declared, so keep an eye out for your name.</div>
      </li>
      <li style="--accent-color:#29128e">
          <div class="date">29 May - 31 May</div>
          <div class="title">Fill Out Preferences</div>
          <div class="descr">Now that you're eligible, it's time to make it personal. Choose your preferences for roommates and specific room numbers. Ensure your living experience aligns with your preferences</div>
      </li>
      <li style="--accent-color:#780000">
          <div class="date">1 June</div>
          <div class="title">Hostel Allotment List</div>
          <div class="descr">The moment of truth! The final hostel allotment list will be displayed on the website. Find out where you'll be calling home for the upcoming academic term.</div>
      </li>
      <li style="--accent-color:#4CADAD">
          <div class="date">2 June - 5 June</div>
          <div class="title">Offline Document Verification</div>
          <div class="descr">Congratulations on your hostel allotment! Head for offline document verification on the specified date to finalize your stay. Bring the required documents for authentication and enjoy hassle-free hostel living.</div>
      </li>
      <div class="deadline">
          <div>
            Remaining time for results declaration: <span id="countdown"></span>
          </div>
          <form id="generate-pdf-form" action="{% url 'generate_pdf' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="download-btn" disabled="true">Generate PDF</button>
          </form>
      </div>
  </ul>





  <script>
    // debugger
        var remainingTime = {{remaining_time}};
        debugger
        function updateTimer() {
            var countDownDate = new Date(Date.now() + (remainingTime * 1000)); // Convert seconds to milliseconds
            console.log(countDownDate);
            var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var hours = Math.floor(distance / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("countdown").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
                if (distance <= 0) {  // Adjusted condition to handle negative distance
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "Deadline reached";
                    console.log("in");
                    document.getElementById("download-btn").disabled = false; // Enable download button
                }
            }, 1000);
        }
        updateTimer(); // Call the function to start the countdown
  </script> 
</body>
</html>