<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COEP HOSTEL</title>
  <link rel="stylesheet" href="../static/css/landing.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
    integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">






</head>

<body>


  <header>
    <div class="content flex_space">
      <div class="logo">
      </div>
      <div class="navlinks">
        <ul id="menulist">
          <li>
            <a href="home">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#service">Services</a>
          </li>
          <li>
            <a href="{% url 'accommodation' %}">Accommodation</a>
          </li>

          <li>
            <a href="#gallery">Gallery</a>
          </li>

          <li>
            <a href="home">Allocation</a>
          </li>
          <li>
            <a href="#contact">Contact Us</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          <li>

        </ul>
        <span class="fa fa-bars" onclick="menutoggle()"></span>
      </div>
    </div>
  </header>


  <script>
    var menulist = document.getElementById('menulist');
    menulist.style.maxHeight = "0px";

    function menutoggle() {
      if (menulist.style.maxHeight == "0px") {
        menulist.style.maxHeight = "100vh";
      } else {
        menulist.style.maxHeight = "0px";
      }
    }
  </script>


  <div class="parallax1">
    <div class="content">
      <div class="item">
        <div class="text">
          <h1>Welcome To COEP</h1>

        </div>
      </div>
    </div>
  </div>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
    integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      dots: false,
      navText: ["<i class = 'fa fa-chevron-left'></i>", "<i class = 'fa fa-chevron-right'></i>"],
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 1
        },
        1000: {
          items: 1
        }
      }
    })
  </script>






  <section class="about top" id="about">
    <div class="container flex">
      <div class="left">
        <div class="heading">
          <h1>ABOUT</h1>
          <h2>Our Background</h2>
        </div>
        <img src="../static/images/oldhostel1.jpg" alt="" style="height: auto; width: 100%;">

      </div>
      <div class="right">
        <p style="text-align: center;
        font-size: large;
        font-weight: 600;">We are the COEP Hostel Management Committee, dedicated to fostering a vibrant and
          supportive community for
          students at COEP Pune!</p>


        <p style="margin: 10px;">The hostel dates back to 1899, after the College came into existence in 1854.
          Initially, it was started as a
          hostel to house the subordinate officers of the Poona Engineering Class & Mechanical School, for carrying out
          public works like buildings,dams, canals, railways and bridges. Later on, the hostel was known as Poona Civil
          Engineering College Hostel and,subsequently in the year 1911, the name was changed to the College of
          Engineering Poona Hostel, popularly known as the COEP Hostel.
        </p>

      </div>
    </div>
  </section>

  <div class="parallax2">
  </div>


  <section class="counter top">
    <div class="container grid">
      <div class="box">
        <h1>2500</h1>
        <hr>
        <span>Customer</span>
      </div>
      <div class="box">
        <h1>1250</h1>
        <hr>
        <span>Happy Customer</span>
      </div>
      <div class="box">
        <h1>150</h1>
        <hr>
        <span>Expert Technicians</span>
      </div>
      <div class="box">
        <h1>3550</h1>
        <hr>
        <span>Desktop Reaired</span>
      </div>
    </div>
  </section>








  <section class="gallery" id="gallery">
    <div class="container">
      <div class="heading">
        <h1>PHOTOS</h1>
        <h2>Our Gallery</h2>
      </div>
    </div>

    <div class="content top">
      <div class="owl-carousel owl-carousel1 owl-theme">
        <div class="items">
          <div class="img">
            <img src="../static/images/ganeshfestival3.jpg " alt="">
          </div>

        </div>
        <div class="items">
          <div class="img">
            <img src="../static/images/shivjayanti.jpg" alt="">
          </div>

        </div>
        <div class="items">
          <div class="img">
            <img src="../static/images/holi.jpg" alt="">
          </div>

        </div>
        <div class="items">
          <div class="img">
            <img src="../static/images/garbanight.jpg" alt="">
          </div>

        </div>
        <div class="items">
          <div class="img">
            <img src="../static/images/cricket.jpg" alt="">
          </div>

        </div>
        <div class="items">
          <div class="img">
            <img src="../static/images/cafeteria.jpg" alt="">
          </div>

        </div>


      </div>
    </div>
  </section>


  <script>
    $('.owl-carousel1').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      dots: false,
      autoplay: true,
      autoplayTimeout: 500,
      autoplayHoverPause: true,
      navText: ["<i class = 'fa fa-chevron-left'></i>", "<i class = 'fa fa-chevron-right'></i>"],
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 4,
        },
        1000: {
          items: 6
        }
      }
    })
  </script>


  <div class="parallax3">
  </div>



  <section class="services top" id="service">
    <div class="container">
      <div class="heading">
        <h1>SERVICES</h1>
        <h2>Our Services</h2>
      </div>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt


      <div class="content flex_space">
        <div class="left grid2">
          <div class="box">
            <div class="text">
              <div class="img">
                <img src="../static/images/mess.jpg" alt="news image" class="img-fluid">
              </div>
              <h3>Delious Food</h3>
            </div>
          </div>
          <div class="box">
            <div class="text">
              <div class="serviceImg">
                <img src="../static/images/gym.jpg" alt="news image" class="img-fluid">
              </div>
              <h3>Fintness</h3>
            </div>
          </div>
          <div class="box">
            <div class="text">
              <div class="serviceImg">
                <img src="../static/images/hostpital.jpg" alt="news image" class="img-fluid">
              </div>
              <h3>Inhouse Restaurant</h3>
            </div>
          </div>
          <div class="box">
            <div class="text">
              <div class="serviceImg">
                <img src="../static/images/laundry.jpg" alt="news image" class="img-fluid">
              </div>
              <h3>Beauty Spa</h3>
            </div>
          </div>
        </div>
        <div class="right" id="slideshow-container">
          <div class="slides">
            <img class="slide-img" src="../static/images/hostel2.png" alt="Image 1">
          </div>
          <div class="slides">
            <img class="slide-img" src="../static/images/hostel1.jpeg" alt="Image 2">
          </div>
          <div class="slides">
            <img class="slide-img" src="../static/images/hostel0.jpeg" alt="Image 3">
          </div>
          <!-- Add more slides as needed -->

          <button class="btn prev" onclick="plusSlides(-1)">Previous</button>
          <button class="btn next" onclick="plusSlides(1)">Next</button>
        </div>
      </div>
    </div>
  </section>

  <script>
    let slideIndex = 0;

    // Automatic slideshow
    function showSlides() {
      const slides = document.getElementsByClassName("slides");
      for (let i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) { slideIndex = 1 }
      slides[slideIndex - 1].style.display = "block";
      setTimeout(showSlides, 3000); // Change slide every 3 seconds (3000 milliseconds)
    }

    showSlides(); // Start the automatic slideshow

    function plusSlides(n) {
      slideIndex += n;
      const slides = document.getElementsByClassName("slides");
      if (slideIndex > slides.length) { slideIndex = 1 }
      if (slideIndex < 1) { slideIndex = slides.length }
      for (let i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slides[slideIndex - 1].style.display = "block";
    }
  </script>


  <div class="parallax4">

  </div>



  <section class="Customer top">
    <div class="container">
      <div class="owl-carousel owl-carousel2 owl-theme">
        <div class="item">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <p>"A big thank you to the hostel management for their responsiveness to our feedback. It's great to see that
            our suggestions are taken seriously and implemented whenever possible. Your willingness to listen and
            improve makes a big difference in our overall experience. Keep up the fantastic work!"</p>
          <h3>Aditya Gund</h3>
          <!-- <label>Julia Robertson</label> -->
        </div>
        <div class="item">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <p>"I want to commend the hostel management for their commitment to cleanliness and hygiene. The facilities
            are always kept in excellent condition, which is crucial for our well-being as students. Your dedication to
            maintaining high standards does not go unnoticed!"</p>
          <h3>Julia Robertson</h3>
          <!-- <label>Julia Robertson</label> -->
        </div>
        <div class="item">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <p>" Thank you for recognizing our commitment to student satisfaction. Your feedback fuels our motivation to
            keep improving and providing excellent service. We're here to ensure your needs are always met."</p>
          <h3>Julia Robertson</h3>
          <!-- <label>Julia Robertson</label> -->
        </div>
      </div>
    </div>
  </section>
  <script>
    $('.owl-carousel2').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      dots: true,
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 1,
        },
        1000: {
          items: 1
        }
      }
    })
  </script>




  <div class="parallax5">
  </div>

  <section class="top">
    <div class="container-fulid">
      <div class="address_mail_footer_grids">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7565.842361195935!2d73.846827991159!3d18.532463630253325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c07d6d9022f3%3A0xae17b7fa0112dd12!2sCOEP%20Hostel%20Office!5e0!3m2!1sen!2sin!4v1708985635152!5m2!1sen!2sin"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>







  <section class="contact py-lg-4 py-md-4 py-sm-3 py-3" id="contact">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <h3 class="title text-center mb-2">Get In Touch</h3>
      <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
        <p>Get in touch with us to discover more about our hostel amenities, rates, and availability. Your next great
          adventure starts with a simple message!
        </p>
      </div>
      <div class="contact-form">
        <form action="{% url 'getintouch' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <input type="text" class="form-control" placeholder="First Name" name="first_name" required="">
            <input type="text" class="form-control" placeholder="Last Name" name="last_name" required="">
          </div>
          <div class="row">
            <input type="text" class="form-control" placeholder="Phone" name="phone" required="">
            <input type="email" class="form-control" placeholder="Email" name="email" required="">
            <textarea class="form-control" placeholder="Message" name="message" required=""></textarea>
          </div>

          <button type="submit" class="btn sent-butnn btn-lg">Send</button>
        </form>
      </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  </section>


  <div class="parallax6">
  </div>


  <footer>
    <div class="container grid">
      <div class="box">
        <img src="images/logo-2.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="icon">
          <i class="fa fa-facebook-f"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-youtube"></i>
        </div>
      </div>

      <div class="box">
        <h2>Links</h2>
        <ul>
          <li>Company History</li>
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Services</li>
          <li>Privacy Policy</li>
        </ul>
      </div>

      <div class="box">
        <h2>Contact Us</h2>
        <p>Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtem por incid.
        </p>
        <i class="fa fa-location-dot"></i>
        <label>1201 park street, Avenue, Dhanmondy, Dhaka. </label> <br>
        <i class="fa fa-phone"></i>
        <label>[88] 657 524 332</label> <br>
        <i class="fa fa-envelope"></i>
        <label>info@dentar.com</label> <br>
      </div>
    </div>
  </footer>

  <div class="legal">
    <p class="container">Copyright (c) 2022 Copyright Holder All Rights Reserved.</p>
  </div>



  <script src="https://kit.fontawesome.com/032d11eac3.js" crossorigin="anonymous"></script>
</body>

</html>
