<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
    <div class="outer-container">
        <div class="image-container">
            <img src="../static/images/hostel.jpg" alt="Your Image">
        </div>
        <div class="form-container">
            <div class="container">
                <div class="header">
                    <div class="text">Login Here</div>
                    <div class="underline"></div>
                </div>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li class="error-message">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                <form method="post">
                    {% csrf_token %} 
                    <div class="inputs">
                        <div class="input">
                            <img src="../static/images/person.png" alt="User Icon">
                            <input type="text" placeholder="Enter Username" id="username" name="username">
                        </div>
                        <div class="input">
                            <img src="../static/images/password.png" alt="Password Icon">
                            <input type="password" placeholder="Password" id="password" name="pass">
                        </div>
                    </div>
                    <div class="create-account">
                        <a href="{% url 'signup' %}" >Don't have account?</a>
                    </div>
                    <div class="submit-container">
                        <button class="submit" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
