<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/adminbase.css">
    {%block addcss%}
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="dashboard">
            <div class="title"><h1> COEP </h1></div>
            <div class="options">
                <div class="option" id="option1">
                    <div class="icon"><i class="material-icons">bar_chart</i></div>
                    <div class="text"><a href="{% url 'admin_home' %}">Reports</a></div>
                </div>
                <div class="option" id="option2">
                    <div class="icon"><i class="material-icons">forum</i></div>
                    <div class="text"><a href="{% url 'guest_booking' %}">Guest Booking</a></div>
                </div>
                <div class="option" id="option3">
                    <div class="icon"><i class="material-icons">engineering</i></div>
                    <div class="text"><a href="{% url 'maintenance' %}">Maintenance</a></div>
                </div>
                <div class="option" id="option4">
                    <div class="icon"><i class="material-icons">schedule</i></div>
                    <div class="text"><a href="{% url 'checkoutstudents' %}">Check Out Students</a></div>
                </div>
                <div class="option" id="option5">
                    <div class="icon"><i class="material-icons">notification_important</i></div>
                    <div class="text"><a href="{% url 'add_notice' %}">Notice</a></div>
                </div>
                <div class="option" id="option5">
                    <div class="icon"><i class="material-icons">notification_important</i></div>
                    <div class="text"><a href="{% url 'approve_bonafied_request' %}">Bonafied Requests</a></div>
                </div>
                <div class="option" id="option6">
                    <div class="icon"><i class="material-icons">logout</i></div>
                    <div class="text"><a href="{% url 'roomdetails' %}">Room Details</a></div>
                </div>
                <div class="option" id="option6">
                    <div class="icon"><i class="material-icons">logout</i></div>
                    <div class="text"><a href="{% url 'logout' %}">Logout</a></div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="content">
                <div class="header">{% block header%}{% endblock %}</div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block addscript%}
    {% endblock %}
</body>
</html>

