.up-container{
    display: flex;
    height: 30vmin;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.note{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 15vmin;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #34679d, #4ca1af);
}
.down-container{
    display: flex;
    height: 70vmin;
    gap: 3%;
}
.bar-graph{
    width: calc(60% - 5%);
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    margin-left: 2%;
    margin-bottom: 3%;
}
.pie-chart{
    width: calc(40% - 5%);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    background-color: white;
    margin-bottom: 3%;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 10%;
}

.form input[type="date"]{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form input[type="submit"] {
    width: 100%;
    padding: 7px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}

#myChart{
    margin-left: 5%;
}


