<!-- booking_success.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Success</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    {%block addcss%}
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="dashboard">
            <div class="title"><h1> COEP </h1></div>
            <div class="options">
                <div class="option" id="option1">
                    <div class="icon"><i class="material-icons">computer</i></div>
                    <div class="text"><a href="{% url 'maintenance_request' %}">Maintenance Requests</a></div>
                </div>
                <div class="option" id="option1">
                    <div class="icon"><i class="material-icons">computer</i></div>
                    <div class="text"><a href="{% url 'amenities' %}">Amenities</a></div>
                </div>
            </div>
        </div>
        <div class="body">
            <!-- <nav><a href="#home">HOME</a>
                {% block nav %}{% endblock %}
            </nav> -->
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block addscript%}
    {% endblock %}
</body>
</html>
